extends layout

block content
  div(class="container-fluid")
    nav(class="navbar navbar-inverse navbar-fixed-top")
      div(class="container-fluid")
        div(class="navbar-header")
          a(
            href="#"
            class="navbar-brand"
          )=title
        
  
    div(class="row vpFit" data-ng-Controller="productsCtrl")

      div(class="col-md-3")
        a(class="box" ng-click="select(product)" ng-repeat="product in products | filter:{title:searchText} | filter: dateFilter('created_at', sDate, eDate)")
          div(class="panel panel-padding panel-default")
            div(class="panel-heading") {{product.handle}}
            div(class="panel-body") {{product.body_html}}
            
        div(class="row-fixed-bottom")
          p
            div(class="input-daterange input-group padded")
              input(type="date" id="datepicker1" ng-model="sDate" placeholder="mm/dd/yyyy" class="input-sm form-control" name="start")
              span(class="input-group-addon") to
              input(type="date" id="datepicker2" ng-model="eDate" placeholder="mm/dd/yyyy" class="input-sm form-control" name="end")

            input(type="text" placeholder="search for title" ng-model="searchText") 


      div(class="col-md-9")
        section(data-ui-view)