extends layout

block content
  div(class="container-fluid")
    nav(class="navbar navbar-inverse navbar-fixed-top")
      div(class="container-fluid")
        div(class="navbar-header")
          a(
            href="#"
            class="navbar-brand"
          )
            i(class="icon icon-list")
              =title
        
  
    div(class="row vpFit" data-ng-Controller="productsCtrl")

      div(class="col-sm-3 pos-absolute vanish")
        a(class="box" ng-click="select(product)" ng-repeat="product in products | filter:{title:searchText} | dateFilter: 'created_at':sDate:eDate")
          div(class="panel panel-padding panel-default")
            div(class="panel-heading")
              h3(class="panel-title") {{product.handle}}
                img(class="micro" src="{{product.image.src || '/images/maskpholder.png'}}")
            div(class="panel-body") {{product.body_html}}
            
        div(class="row-fixed-bottom")
          div(class="input-daterange input-group padded")
            input(type="text" id="fromDate" ng-model="sDate" placeholder="mm/dd/yyyy" class="input-sm form-control" name="start")
            span(class="input-group-addon") to
            input(type="text" id="toDate" ng-model="eDate" placeholder="mm/dd/yyyy" class="input-sm form-control" name="end")

          p
            input(type="text" placeholder="search for title" ng-model="searchText") 


      div(class="row")
        section(data-ui-view)