extends layout

block content
  div(class="container-fluid")
    nav(class="navbar navbar-inverse navbar-fixed-top")
      div(class="container-fluid")
        div(class="navbar-header")
          a(
            href="#"
            class="navbar-brand"
          )=title
        
  
    div(class="row vpFit" data-ng-Controller="productsCtrl")

      div(class="col-md-3")
        a(class="box" ng-click="select(product)" ng-repeat="product in products | filter:{title:searchText} ")
          div(class="panel panel-padding panel-default")
            div(class="panel-heading") {{product.handle}}
            div(class="panel-body") {{product.body_html}}
            
        div(class="row-fixed-bottom")
            input(type="text" placeholder="search" ng-model="searchText")


      div(class="col-md-9")
        section(data-ui-view)