/* this overides the specific settings from the bootsrap stylesheet */

*{
    box-sizing: border-box;
}

body{
    height: 100%;
    background: #F0F1F2;
    overflow:hidden;
}

nav{
    font-size: 1.5em;
    height: 7vh;
}

nav a{
    text-decoration: none;
}

.vpFit{
    padding-top:8vh;
    height: 100vh;
}

input.ng-invalid.ng-dirty{
    border-color:red;
}

input.ng-valid.ng-dirty{
    border-color:green;
    border-width:2px;
}

.error-info{
    font-style:italic;
    color: red;
}


.col-sm-3{
    border-right: 1px solid black;
    overflow: auto;
    height: 90%;
    position:absolute;
}

a.box{
    display:block;
    text-decoration: none;
    box-shadow: 7px 5px 5px gray;
    border-radius: 5px;
}

a.box:hover{
    font-size: 1.1em;
}

.scrollable{
    height: 30%;
    overflow: auto;
}

.panel-padding{
    height: 15%;
    padding: 0.2em;
    background: #fff;
}

.height-20{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 1em;
}

ul.height-20:after{
    content:'';
    display:block;
    clear:both;
}

ul.list-inline{
    white-space: nowrap ;
}

img{
    width: 10em;
    height: 10em;
    border-radius: 10px;
    border: 1px dotted black;
    margin: 0 1em;
}

.btn-margin{
    margin-right: 0.3em;
}

.scrollable{
    overflow: auto;
}

.height-border{
    height: 300px;
    border-top: 1px solid black;
}

.italic{
    font-style:italic;
}

.form-bordered{
    border: 3px solid black;
    border-radius: 5px;
}

.form-padded{
    padding: 1em;
}

.row-padded{
    padding: 1em 4em 0 0;
}

.float-right{
    float: right;
}

.float-left{
    float:left;
}

form:after{
    content:'';
    display:block;
    clear:both;
}

.row-fixed-bottom{
    position:fixed;
    bottom:0;
    left:0;
    display:block;
    width:25%;
    padding:0;
    border-right: 1px solid black;
}
.row-fixed-bottom p{
    margin:0;
    padding:0;
}

.row-fixed-bottom input[type="text"]{
    width: 100%;
    font-size: 1.1em;
    font-family: "Helvetica nue, Sans serif";
}

.pos-absolute{
    position: absolute;
}

.padded-div{
    padding-left: 30%;
    width :100%;
}

ul.list-inline{
    overflow-x:auto;
}


/*writing media query */
@media screen and (max-width: 1000px) {
    .vanish {
	display:none !important;
    }


    .icon:before{
	font-size: 30px;
	color: white;
	content: "\f09b";
	font-family: FontAwesome;
	padding: 0 0.3em 0 0;
    }

    .padded-div{
	padding-left:0;
	padding: 4em;
    }

    .padded-div.move {
	-webkit-transform: translateX(30%); 
	transform: translateX(30%) !important;
    }

    form.move {
	-webkit-transform: translateX(30%); 
	transform: translateX(30%) !important;
    }
    
}

